<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加校友</title>
</head>
<body>

<div>
    <div>
        <h1>添加校友</h1>
    </div>
    <form method="post" action="Add">
        <div>
            <div>姓名</div>
            <input type="text" name="textName"/>
        </div>
        <div>
            <div>性别</div>
            <input type="text" name="textGender"/>
        </div>
        <div>
            <div>公司</div>
            <input type="text" name="textCompany"/>
        </div>
        <div>
            <button>确认添加</button>
        </div>
    </form>
</div>
</body>
</html>